
html {
    position: relative;
    min-height: 100%;
    margin: 0px;
}
body {
    background-image:url(../images/Background.png);
    margin: 0px;
    margin-bottom: 90px;
   
}

h1 {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    height: 43px;
    width: 225px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    top:-22px;
    font-family: 'Georgia', Times, Times New Roman, serif; 
}

h2 {
    position: absolute;
    color: #4aaaa5;
    width:900px;
    top: 0px;
    left: 30px;
    margin:auto;
    height: 30px;
    padding-top:25px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif; 
}

.TopBar {
   position:relative;
    background-color: #ffffff;
    width: 100%;
    top: 0%;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   border-bottom-color: #cccccc;
   margin: 0px;
   margin-bottom: 40px;
}

.headerFont{
font-family: 'Georgia', Times, Times New Roman, serif; 
}

.linkButtons {
    position:absolute;
    top:23px;
    right:10px;
}
#PortfolioButton {
    text-align: center;
    position: absolute;
    padding-left: 20px; 
    padding-right: 20px;
    color: #777777;
    top: 20px;
    right:90px;
    width:60px;
    border-left-style: solid;
    border-left-color: #cccccc;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #cccccc;
    height: 20px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#ContactButton {
    position: absolute;
    color: #777777;
    width: 50px;
    right: 0px;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;

}

#AboutButton {
    position: absolute; 
    color: #777777;
    right: 180px;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    width: 50px;
    text-align: center;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    height: 50px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #4aaaa5;
}

#ContentIndex {
    position: relative;
    background-color: #ffffff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 560px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.AboutMeContent {
    position: absolute;
    top: 70px;
    padding: 30px;
}

#profilePic {
    float:left;
    padding-right: 30px;
}

#p1 {
    padding-top: 5px;
    letter-spacing: 1.5px;
}

#p2{
    letter-spacing: 1.5px;
}

#p3{
    letter-spacing: 1.5px;
}

#ContentPortfolio {
    position:relative;
    background-color: #ffffff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.HangmanContent {
    padding: 30px;
    position: absolute;
    top: 70px;
}

#HangmanText {
   position: absolute;
    padding: 15px;
    top: 200px;
    width: 245px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

.RPGContent {
    position: absolute;
    padding: 30px;
    left: 353px;
    top: 70px;
}
#rpgGameText {
    position: absolute;
    width: 245px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    position: absolute;
    top: 200px;
}

.TriviaGameContent{
    position: absolute;
    padding: 30px;
    top: 355px;
}

#TriviaGameText {
    width: 245px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    position: absolute;
    top: 200px;
}

.RIWContent{
    position:absolute;
    padding: 30px;
    top: 355px;
    left: 353px;
}

#RIWText {
    width: 245px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    position: absolute;
    top: 200px;
    
}

.RPSContent {
    position:absolute;
    padding: 30px;
    top: 640px;
    
}

#RPSText {
    width: 245px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    position: absolute;
    top: 200px;
    
}

#ContactContainer {
    position:relative;
    background-color: #ffffff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 555px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.ContactContent{
    position: absolute;
    top: 40px;
}
#nameForm {
    width:895px;
    position:absolute;
    top: 30px;
}

#nameForm2{
    position:absolute;
    left: 30px;
    top:55px;
}

#emailForm {
    width:895px;
    position:absolute;
    top: 30px;
}

#emailForm2{
    position:absolute;
    left: 30px;
    top:125px;
}

#messageForm {
    width:895px;
    position:absolute;
    top: 30px;
    height: 200px;
}

#messageForm2{
    position:absolute;
    left: 30px;
    top:195px;
    
}

#submitButton{
    color:white;
    background-color: #4aaaa5;
    border: none;
    text-decoration: none;
    padding: 10px;
    width: 100px;
    position:absolute;
    top: 455px;
    left: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
    text-indent: 20px;
}


@media only screen and (max-width: 768px ) {
    #ContentIndex {
        width: 688px;
        height: 740px;
    }

    h2 {
        width: 628px;
    }
    
    #ContactContainer {
        width: 688px;
    }

    #emailForm{
        width: 628px;
    }

    #nameForm {
        width: 628px;
    }

    #messageForm {
        width: 628px;
    }

    #ContentPortfolio {
        width: 688px;
    }

}

@media only screen and (max-width: 640px) {
    h1 {
        width: 100%;
        
    }

    .TopBar {
         top: 85px;
         height: 50px;
         margin-bottom: 110px;
         padding-top: 0px;
         padding-bottom: 0px;
        }

    .linkButtons {
        right: 0px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
        top: 80px;
        width:260px;
    }

    #ContentIndex {
        width: 560px;
        height: 1130px;
    }
      
    h2 {
        width: 500px;
    }

    #profilePic {
        width: 440px;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    #ContactContainer {
        width: 560px;
    }

    #emailForm{
        width: 500px;
    }

    #nameForm {
        width: 500px;
    }

    #messageForm {
        width: 500px;
    }
    
    #ContentPortfolio {
        width: 560px;
        height: 1500px;
    }

    .HangmanContent {
        left: 112px;

    }

    .RPGContent{
        top: 355px;
        left: 112px;
    }

    .TriviaGameContent {
        top: 640px;
        left:
        112px;
    }

    .RIWContent {
        top: 925px;
        left:112px;
    }

    .RPSContent {
        top:1210px;
        left: 112px;
    }
}

